
	 p {
    	text-align: center;
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 12px;
		margin-top: 0px;
		margin-bottom: 0px;
    }  
    
    
    .button {
      border-style: outset;
      color: white;
      padding: 1px 7px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      margin: 7px 7px;
      transition-duration: 0.1s;
      cursor: pointer;
    } 
    .button1 {background-color: #e7e7e7; color: black;}
    .button1:hover  {background-color: gray; color: black;}
    
    
	 table {
    	text-align: left;
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 13px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: auto;
  		margin-right: auto;
    }    
  	 td {
	 	width: 151px;
		text-align: center;
		vertical-align: top;
	 } 
	 td.drugi {
		width: 350px;
		text-align: left;
		vertical-align: top;
 	 } 
	 td.tretji {
		width: 420px;
		text-align: left;
		vertical-align: top;
 	 } 