<ul class="menu-root win95-bevel-out">
    
    <!-- GAME -->
    <li class="menu-item">{{ m.game or 'Game' }}
        <ul class="dropdown win95-bevel-out">
            {% for g in games %}
            <li onclick="location.href='{{ url_for('cardgames.play_game', game_id=g.id) }}'">
                {{ g.name }}
            </li>
            {% endfor %}
            <li class="separator"></li>
            <li onclick="location.href='{{ url_for('cardgames.exit_game') }}'">{{ m.exit or 'Exit' }}</li>
        </ul>
    </li>

    <!-- ZOOM (Neutralized/Obsolete) -->
    <li class="menu-item">{{ m.zoom or 'Zoom' }}
        <ul class="dropdown win95-bevel-out">
            <li style="color: gray;">Zoom In</li>
            <li style="color: gray;">Zoom Out</li>
            <li class="separator"></li>
            <li style="color: gray;">Max</li>
            <li style="color: gray;">Min</li>
        </ul>
    </li>

    <!-- OPTIONS -->
    <li class="menu-item">{{ m.options or 'Options' }}
        <ul class="dropdown win95-bevel-out">
            <li class="checkable {{ 'checked' if game and game.autoplay_enabled }}" 
                id="menu-autoplay" 
                onclick="toggleAutoplay(this)">
                {{ m.autoplay or 'Autoplay' }}
            </li>
            <li style="color: gray;">Resizable</li>
            <li style="color: gray;">Other Cards</li>
            <li class="separator"></li>
            <li>{{ m.statistics or 'Statistics' }}</li>
            <li>{{ m.overall or 'Overall' }}</li>
        </ul>
    </li>

    <!-- HELP -->
    <li class="menu-item">{{ m.help or 'Help' }}
        <ul class="dropdown win95-bevel-out">
            <li onclick="showRules()">{{ m.rules or 'Rules' }}</li>
            <li>{{ m.customizing or 'Customizing' }}</li>
            <li class="separator"></li>
            <li>{{ m.about or 'About' }}</li>
            <li>{{ m.register or 'Register' }}</li>
        </ul>
    </li>

    <!-- LANGUAGE -->
    <li class="menu-item">{{ m.language or 'Language' }}
        <ul class="dropdown win95-bevel-out">
            {% for code in ["eng","slo","ger","fr","it","spa","por","chn","jap","kor","yu"] %}
            <li onclick="location.href='{{ url_for('cardgames.set_language', code=code) }}'">
                {{ code.upper() }}
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>