
body {
	margin: 0;	
  	padding-top: 30px;
  	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.topnav {
  	overflow: hidden;
  	background-color: #f2f2f2;
  	position: fixed;
  	top: 0;
   width: 100%;
}

.topnav a {
  	float: left;
  	color: #333;
  	text-align: center;
  	padding: 6px 16px;
  	text-decoration: none;
  	font-size: 30px;
  	padding-top: 8px;
  
}

.topnav a:hover {
  	background-color: #ddd;
  	color: black;
}

