<ul class="menu-root win95-bevel-out">

    <!-- Igre -->
    <li class="menu-item">Igre
        <ul class="dropdown win95-bevel-out">
            <li> <a href="/cardgames/">Karte</a></li>
            <li style="color: gray;">Človek ne jezi se</li>
            <li style="color: gray;">Obračun pri kaktusu</li>    
        </ul>
    </li>
    <li class="menu-item">Film & Fotografija
        <ul class="dropdown win95-bevel-out">
            <li> <a href="/umetnost/film/">Film</a></li>
            <li style="color: gray;">Fotografija</li>
        </ul>
    </li>

</ul>






