
<!DOCTYPE html>
<html lang=SL>


<head>
  <meta http-equiv=Content-Type content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="igre, filmi, glasba">
  <title>&nbsp;&nbsp;www.zvezda2.si&nbsp;&nbsp;&nbsp;&nbsp;&#128296;</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="stili.css">
  <link rel="stylesheet" href="zgornjimeni.css">
</head>

<body>
<div class="topnav">
<a href="/">&#127968;&nbsp;</a> 
<a href="/knjige/">&#128218;&nbsp;</a> 
<a href="/film/">&#127909;&nbsp;</a> 
<a href="/glasba/">&#127932;&nbsp;</a> 
<a href="/igre/">&#9917;&nbsp;</a> 
<a href="/software/">&#128190;&nbsp;</a>
</div>

<p> <img width=236 height=236 alt=" " src="index_files/image001.jpg"> </p>
<br><br>


<p style="font-family: Times, serif; font-size: 25px; font-weight: bold; ">
Izdelava in gostovanje hitrih spletnih strani. 
</p>
<p style="font-family: Times, serif; font-size: 17px; font-weight: bold; ">
Naročite svojo spletno stran na zvezda2.si/mojastran/ v 5 minutah.<br>
Za več informacij pišite na 
<a href="mailto:striparna@gmail.com"> striparna@gmail.com</a><br>
<img width=32 height=32 alt=" " src="index_files/mail7060.gif">
</p>


<br>
<br>
<br>


<p>
<a href="/knjige/">knjige</a> &nbsp;&nbsp;&nbsp;
<a href="/film/">film&nbsp;&amp;&nbsp;fotografija</a>&nbsp;&nbsp;&nbsp;
<a href="/glasba/">glasba</a> &nbsp;&nbsp;&nbsp;
<a href="/igre/">igre</a> &nbsp;&nbsp;&nbsp;
<a href="/software/">programska&nbsp;oprema</a>
</p>


</body>

</html>