<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="utf-8">
    <title>Mihin web sajt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cardgames.css') }}">
</head>


<body>

    <!-- TITLE BAR -->
    <div id="title-bar">
        <span class="title-text">
            Mihin web sajt
        </span>
    </div>

    <!-- MENU BAR -->
    <div id="menu-bar">
        {% include "mihinmenu.html" %}
    </div>

    <!-- HOMEPAGE AREA -->
    <div id="table-scroll">
        <div id="game-table" >
                <div style="padding: 10px; text-align: center; color: white;">
                  <p> <img width=236 height=236 alt=" " src={{ url_for('static', filename='image002.png')}}> </p>  
                  <h2>Dobrodošli... </h2>
                    na Mihin websajt
                    <p style="font-family: Times, serif; font-size: 17px; font-weight: bold; ">
                    Za več informacij pišite na 
                    <a href="mailto:striparna@gmail.com"> striparna@gmail.com</a><br>
                    <img width=32 height=32 alt=" " src={{ url_for('static', filename='mail7060.gif')}}>

                </div>
            
        </div>
    </div>



</body>
</html>





